.finaceAmoutWidth{
    width: 132px;
}
.customerWidth{
    width: 130px;
}
.createdwidth{
    width: 90px;
}
.dummcolwidth{
    padding-left: 80px;
    padding-right: 90px;
}
.totalPriceWidth{
    padding-left: 6%;
}