/**
 * Created by Kritika Sharma & Surbhi Goyal 
 * Date : 09/02/2022
 */
 .topSpace {
    margin-top: 2%;
  }
  .Header{
    background:     white !important;
  }
  .body-top{
    background:white!important;
    border-bottom:1px solid #D4D4D4!important;
    border-left:0px!important;
    border-right:0px!important;
    border-top:0px!important;
  }
  .tab-class{
    border-top:none!important;
    border-radius:0px!important;
  }
  .quote-header{
    border-bottom:none!important;
  }
  .header-field-section{
    padding:      20px 20px 20px 0px;
    width:        200px;
  }
  .tab-background{
    background:#dddbda!important;
    margin-right:-1px;
  }
  .slds-tabs_default__nav{
    background:white!important
  }
  .proposal-container{
    background: white;
    height:1000px;
  }
  .no-padding{
    padding:0px!important;
  }
  .body-bottom{
    background:white!important;
    border-bottom:1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
  }
  .display-field{
    display:grid;
  }
  .summary{
    background: #FFFFFF;
  }
  label.slds-form-element__label {
    font-weight: bolder!important;
    color: black!important;
  }
  .labelpadding{
    padding: 2%;
  }
  .contentMargin{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .requiredField{
    color: red;
    margin-bottom: 10px;
  }
  .marginBottom{
    margin-bottom: 10px;
  }
  .addAssetStyle{
    text-align: end;
    padding: 2%;
  }
  .color{
    color:red;
  }
  .paddingCss{
    padding: 2%;
  }
  .fontStyle{
    font-weight: bold;
  }
  .fontColor{
    color:#0099FF;
  }
  .marginPaddingStylOnCustInfo{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 15px;
  }
  .summarySection{
    border-top: 4px solid #0099FF;
  }

  .widthFull{
    min-width: 100%;
  }
   
  .buttonUperBorder {
    border-top: 1.3px solid #d7d7d7;
    padding: 2%;
  }

  .paddingWithGrid{
    padding: 0.5%;
  }

  .marginBottom{
    margin-bottom: 10px;
  }
  .labelColor{
    color:#666666;
  }