/**
 * Created by Adam Tolbert
 * Date : 01/10/2023
 */

.topSpace {
  margin-top: 2%;
}
.Header{
  background:     white !important;
}
.body-top{
  background:white!important;
  /* border:1px solid #D4D4D4;
  border-left:0px!important; */
}
.tab-class{
  border-top:none!important;
  border-radius:0px!important;
}
.quote-header{
  border-bottom:none!important;
}
.header-field-section{
  padding:      20px 20px 20px 0px;
  width:        200px;
}
.header-field-section-credit-check{
  padding:      20px 20px 20px 0px;
  /* width:        250px; */
}
.tab-background{
  background:#dddbda!important;
  margin-right:-1px;
}
.slds-tabs_default__nav{
  background:white!important
}
.proposal-container{
  background: white;
  height:1000px;
}
.no-padding{
  padding:0px!important;
}
.body-bottom{
  background:white!important;
  border-bottom:1px solid #D4D4D4;
  border-left: 1px solid #D4D4D4;
  border-right: 1px solid #D4D4D4;
}
.display-field{
  display:grid;
}
.summary{
  background: #FFFFFF;
}
label.slds-form-element__label {
  font-weight: bolder!important;
  color: black!important;
}
.labelpadding{
  padding: 2%;
}
.contentMargin{
  margin-top: 10px;
  margin-bottom: 10px;
}
.requiredField{
  color: red;
  margin-bottom: 10px;
}
.marginBottom{
  margin-bottom: 10px;
}
.addAssetStyle{
  text-align: end;
  padding: 2%;
}
.color{
  color:red;
}
.paddingCss{
  padding: 2%;
}
.fontStyle{
  font-weight: bold;
}
.fontColor{
  color:#0099FF;
}
.marginPaddingStylOnCustInfo{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 15px;
}

.labelColor{
  color:#666666;
}

.layoutItemWithSpinner {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.layoutItemWithSpinner lightning-combobox {
  width: 100%;
}
.layoutItemWithSpinner lightning-input {
  width: 100%;
}

.currencyNumber {
  color: darkgreen;
}

.colorGreen {
  color: yellowgreen;
}

.colorOrange {
  color: orange;
}

.colorRed {
  color: red
}

.componentContainer {
  max-height: 60vh;
  height: 900px;
  overflow-y: scroll;
  padding-bottom: 75px;
}

.deleteAssetButton button {
  color: red;
  border-color: red;
}

.spinnerContainer {
  position: absolute;
  width: -webkit-fill-available;
  min-width: 75px;
  height: auto;
  min-height: 75px;
  z-index: 6495 !important;
}

.masterSpinnerContainer {
  position: absolute;
  width: 100%;
  height: 60%;
  max-height: 900px;
}

.masterLoadingTextContainer {
  position: absolute;
  text-align: center;
  height: min-content;
  top: 60%;
  right: 0;
  bottom: 0;
  left: 0;
  font-weight: bolder;
  z-index: 9065;
  margin-left: 25%;
  margin-right: 25%;
  background-color: rgb(255 255 255 / 80%);
  box-shadow: 0px 0px 20px 10px rgb(255 255 255 / 80%);
}

.loadingTextContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  text-align: center;
  height: max-content;
  z-index: 9055;
}

.financialProductsCombobox {
  z-index: 9060;
}

.cancelModal {
  height: 67vh;
  max-height: 959px;
  position: fixed;
  background: rgba(8, 7, 7, 0.6);
  z-index: 9750;
  visibility: visible;
  opacity: 1;
  width: 100%;
}